[Unit]
Description=Course Bot
After=network.target

[Service]
User=tgbot_template
Group=tgbot_template
Type=simple
WorkingDirectory=/opt/tgbot_template/app
ExecStart=/opt/tgbot_template/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
